.content{
    margin-top:5px;
    width:1000px;
    height:450px;
    margin-left: auto;
    margin-right: auto;
}
.content_1{
    /* background:rgb(52, 80, 52); */
    width:810px;
    height:450px;
    float:left;
}
.content_2{
    /* background:rgb(77, 85, 77); */
    width:190px;
    height:450px;
    float:right;
}
.content_3{
    background:rgb(231, 231, 231);
    width:810px;
    height:35px;

}
.content_4{
    background:rgb(113, 194, 21);
    width:810px;
    height:415px;
    display:none;
}




#content1content_4{
    display:block;
}
.content_1_1{
    
    width:100px;
    height:35px;
    float:left;
    text-align: center;
    line-height: 35px;
    /* 公?簿J?公?│Z?も */
    cursor:pointer;
}
#content1{
    background:rgb(100, 180, 240);
}
.Margin{
    background:rgb(235, 241, 239);
    width:1000px;
    margin-left: auto;
    margin-right: auto;
    height:35px;}
.Margin_1{
    /* ?~?div家QΘtable */
    display:table;
    background:rgb(219, 241, 233);
    width:70%;
    /* ]100%含Oeu~?div100% */
    height:35px;
    /* ?divzm?程W?divA?榷VjVW? */
    z-index:9999;
    /* zm??divオk~い */
    margin-left: auto;
    margin-right: auto;
}
.Margin_1_1{
       /* WU~い */
       /* ???div家QΘ@table?じ妗AQノ vertical-align: middle愆胜WU~い*/
       display: table-cell;vertical-align: middle;
                     }
.el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
         }
.el-icon-arrow-down {
    font-size: 12px;
         }
.body{
    background:rgb(235, 241, 239);
    width:1000px;
    height:70px;
    margin-left: auto;
    margin-right: auto;
}
.body_1{
    background:rgb(219, 241, 233);
    width:70%;
    height:70px;
    /* zm??divオk~い */
    margin-left: auto;
    margin-right: auto;
}
.body_2{
    background:rgb(100, 180, 240);
    width:1000px;
    height:35px;
    margin-left: auto;
    margin-right: auto;

}
.body_3{
    background:rgb(100, 180, 240);

    width:70%;
    height:35px;
    /* ?~?div家QΘtable */
    display:table;
    /* zm??divオk~い */
    margin-left: auto;
    margin-right: auto;
    z-index:9999;

}
.body_3_1{
        /* WU~い */
       /* ???div家QΘ@table?じ妗AQノ vertical-align: middle愆胜WU~い*/
       display: table-cell;vertical-align: middle;
}
.main{

    background:rgb(14, 209, 24);
    width:1000px;
    height:450px;
    margin-left: auto;
    margin-right: auto;
}
.main_1{
    float:left;
    background:rgb(100, 180, 240);
    height:450px;
    width:19%;

}
.main_2{
    float:left;
    background:rgb(201, 11, 11);
    width:62%;
    height:450px;
    z-index:99999;

}
.main_3
{
  float:right;
  background:rgb(100, 180, 240);
    width:19%;
    height:450px;
    z-index:99999;
}
.main_3_3{
  background:rgb(100, 180, 240);
  width:95%;
  margin-left: auto;
  margin-right: auto;
  height:450px;
}